@{
    ViewData["Title"] = "Edit Drivers";
}

<form method="post">
    Driver Name: <input type="text" name="DriverName" value="@Model.DriverName" /><br />
    Driver Rating: <input type="text" name="DriverRating" value="@Model.DriverRating" /><br />
    Driver Phone: <input type="text" name="DriverPhone" value="@Model.DriverPhone" /><br />
    Completed Rides: <input type="text" name="CompletedRides" value="@Model.CompletedRides" />
    
    <input type="Submit" />
</form>

<script>
    

</script>
